@model IEnumerable<Movie>

@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="~/@item.ImageUrl" alt="" class="card-img" />
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-controller="Home"
                           asp-action="Details"
                           asp-route-id="@item.Id">@item.Name</a>
                    </h5>
                    <p class="card-text">@item.ShortDesc</p>
                    <p class="card-text">4 days ago</p>
                </div>
            </div>
        </div>
    </div>
}

